html {
  height: 100%;
  width: 100%;
}

label {
  margin-left: 20px;
}

#datepicker {
  width: 180px;
}

#datepicker>span:hover {
  cursor: pointer;
}

.wp-caption {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #3F7941;
}

.wp-caption img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wp-caption:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
  z-index: 1;
}

.wp-caption-text {
  display: block;
  position: absolute;
  width: 100%;
  color: #E5E4E2;
  left: 2em;
  bottom: 0;
  padding: 1em;
  font-weight: 600;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}