<form class="form-inline my-2 my-lg-0">
  <span><img class="mb-4" src="1.png" alt="" width="72" height="50%">
    <button ng-click="go('/')" type="button" class="btn btn-outline-secondary">Back</button>
    <button ng-click="go('/')" type="button" class="btn btn-outline-danger">Logout</button>
  </span>
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="row justify-content-center">
  <button ng-click="go('/eden/create')" type="button" class="col-6 btn btn-outline-primary">Add plant +</button>
</div>